[2017-05-02 14:02] mathieucivel opened #1 "TypeError when tooltiped element has child"
Hello, when using the directive on element with children, an error is thrown.

Please see http://jsfiddle.net/un65zfsj/

[code]

[2017-05-04 07:47] atakajlo commented on #1
I had same issue, @hekigan please review PR from @mathieucivel :)

[2017-05-07 10:03] hekigan commented on #1
Sorry, I was in holidays, so could not get back to you guys earlier.
I am going to take a look at that  :)

[2017-05-07 10:08] #1 closed

[2017-05-09 16:50] weislanes opened #3 "Include 'Vue.use(Tooltip);' step to instructions."
There's no instructions stating a user must register the directive using:

[code]

Please include this. (And thanks for making this!).

[2017-05-09 17:11] hekigan commented on #3
Hello!

You are completely right.
I did not put it in as for the ES5 version, it is automatically done
https://github.com/hekigan/vue-directive-tooltip/blob/master/src/index.js#L6

But for ES6, it is another matter. And so, yes I will add it now  :)

[2017-05-09 17:13] hekigan commented on #3
Done:
https://github.com/hekigan/vue-directive-tooltip/commit/7144373148556b9c9e3ff87150a57cdcf80ced5c

[2017-05-09 17:13] #3 closed

[2017-05-09 17:27] weislanes commented on #3
Nice one.!

I see that it only borrows some of the options from Popper.js. Is there a plan to extend it to include stuff like closing only click away etc? Or is that outside the scope of what this should do?

Basically I'm looking to create a popup menu similar to this: https://cdn.dribbble.com/users/79601/screenshots/2254492/configurator-popup.png and wondering if I should lean on this library or

[2017-05-10 02:58] hekigan commented on #3
There is a plan to expand the options.
To be honest, I did this implementation because I needed it for a personal project and did not have time to implement more than the basic stuff.

It should not be difficult to add to it, but I want to be sure that the usage will be simple and in line with most Vue directives mechanics.

Now, after looking at your screenshot, what you need would some kind of `

[2017-05-25 09:18] webmarkelov opened #4 "A Offset implementation"
Hi! Very lacking is a **offset** implementation

[2017-05-25 09:24] webmarkelov commented on #4
A solution example:
[code]

[2017-05-25 09:24] #4 closed

[2017-07-30 06:50] nicolasvahidzein opened #7 "classes for a few tooltips"
hello and congratulations on a wonderful plugin, i really love it.

I was curious, is it possible to set a class just for one tooltip?

when i use your example it changes it for all the tooltips. Am i doing something wrong?

[2017-07-30 10:07] hekigan commented on #7
Thank you for your kind words, it makes it worth investing time in making these pieces of code.

And yes, you can customize all of the tooltips.

After installing the base javascript and included css, if you want custom classes, you can add it up super easily.

I made an example for you: https://codepen.io/hekigan/pen/oebpPm

[2017-07-30 23:31] nicolasvahidzein commented on #7
Dear sir, you are a prince, thank you very much!!

[2017-07-30 23:31] #7 closed

[2017-07-30 23:32] nicolasvahidzein commented on #7
Laurent, do you freelance or mentor at all? I would love some one on one time to answer many questions no one can answer for me. I'm willing to pay of course.

[2017-07-31 02:20] hekigan commented on #7
Glad I could be of help.
For this kind of inquiry please use the mail displayed on my profile.

It was not there before, I just added it for convenience.

[2017-08-16 10:18] alekbarszczewski opened #8 "Do not hide tooltip if mouse over tooltip content itself"
**Feature:**

Right now when you hover on a tooltip and try to mouseover the tooltip it disappears. In my case I have to display "Learn more" link inside a tooltip and make it clickable by a user. I know that it can be achieved by attaching tooltip element as a child of element that triggers tooltip so it keeps hovered when user mouseovers the tooltip. I couldn't find a way to achieve that with vu

[2017-08-16 10:25] hekigan commented on #8
Yes, Popper.js is the positioning engine and I prefer to have my own implementation of the tooltip built on top of that.

You can already "kind of" achieve what you want with the programmatic option describe in the doc below:
https://hekigan.github.io/vue-directive-tooltip/

But I feel that the behaviour that you want is just a hover with a small delay. And if the user keep the mouse over the tool

[2017-08-16 10:50] alekbarszczewski commented on #8
@hekigan Hey, I will try to experiment with programmatic usage.
However I am not sure if interval is the right way. Normally you achieve (AFAIK) something like this by adding tooltip element as a child of the element that triggers the tooltip, and when you are moving mouse from trigger element to the tooltip, trigger does not "loose" hover state.

[2017-08-16 11:48] hekigan commented on #8
When I have some time, I will add the 'delay' before disappearing feature (default value + as an option).
That way it will be easier to have a good control over the tooltip.

[2017-08-17 15:01] alekbarszczewski commented on #8
@hekigan your solution does not work for me :(. There is a gap between tooltip and trigger. When user moves cursor too slowly then tooltip disappears before mouse enters it's area. On the other hand if I set timeout to higher value it works (still if user does not move cursor too slow) but when I move mouse from the trigger then it looks "laggy" and strange because tooltip disappears after some mo

[2017-08-17 18:33] hekigan commented on #8
I will work on the delay option that I wrote about in my last message this weekend.
It should work for your use case.

When implemented, I will write you back here.

[2017-08-18 09:09] alekbarszczewski commented on #8
@hekigan thanks!

[2017-08-21 11:44] hekigan commented on #8
@alekbarszczewski
I just updated the script.
You can now use the **delay** option.

The documentation has been updated too, so you can take a look there.

I think that you should use something like that as a test:

`<span v-tooltip="{ html: 'id-of-content', delay: 600 }">Trigger</span>
`

[2017-08-21 19:46] #8 closed

[2017-08-23 02:10] nicolasvahidzein opened #9 "Not displaying with no-trigger"
hello,

offset and delay do not work in this code. Is it normal behavior when you use notrigger?

on mouse enter and leave are added options i added to make the display dynamic.

[code]

[2017-08-23 02:15] nicolasvahidzein opened #10 "bug on align right"
text-align: right;

i noticed that when the text align property is set to right, the directive does not line up anymore, it's strange

[2017-08-23 02:29] nicolasvahidzein commented on #10
my apologies, it was actually the font awesome icon. When you use certain icons, they height messes up with the placement of the arrow in the tooltip. Any idea why?
[code]
fa fa-floppy-o compared to fa fa-check changes the positioning.

[2017-08-23 02:31] nicolasvahidzein commented on #10
it's a combination of problem actually, using floppy-o and text align left is ok but changing either to right or a different icon it's buggy.

[2017-08-23 04:51] hekigan commented on #9
Hi!

Thanks for the feedback, I will take a look at that today

[2017-08-23 04:53] hekigan commented on #10
Mmm, that might be a problem with popper.js
The arrow positioning is delegated to Popper, I don't actively change/modify it.

[2017-08-23 19:47] hekigan commented on #9
Ok, so I made a codepen based on your code, and I have no issues:

https://codepen.io/hekigan/pen/OjEBQE

So, could it be related to some other parts of your code? If not, could you re-create it in a codepen that could use to re-produce your issue?

[2017-08-23 19:58] hekigan commented on #10
And here is an example with the text-align left & right.

https://codepen.io/hekigan/pen/eEKPjm

I could see no issues. I am testing on Chrome, but I am not sure if it's relevant at all.

[2017-08-24 03:04] nicolasvahidzein commented on #9
it most likely is, if you say it works. I can't even run the code pen sim though, not sure what is going on. I'm in congo maybe something is blocking it.

[2017-08-24 03:04] nicolasvahidzein commented on #10
I can't run this one as well.

[2017-08-24 06:04] hekigan commented on #9
Or maybe you have some kind of blocker on your browser for advertisment or something like that.
I asked someone else to check the codepen and they had no problem either to see it on multiple browsers.

So I am going to close the 2 issues.

[2017-08-24 06:04] #9 closed

[2017-08-24 06:05] hekigan commented on #10
As explained in issue #9 , I am closing this one too.

[2017-08-24 06:05] #10 closed

[2017-08-24 06:23] alekbarszczewski commented on #8
@hekigan Hey, it kind of works, but in case this solution is not acceptable. It looks very laggy when tooltip disappears after some delay... As I said if I set short delay then when user moves mouse to the tooltip too slow then tooltip will disappear before cursor hovers tooltip itself.

[2017-08-24 17:33] hekigan commented on #8
I now understand better what you want to achieve.

It's like when you have a list `UL > LI` for example. If you hover the `LI` tag, the `UL` tag knows that it's still being in the hover state because of the parent/child relationship.

The current implementation does not allow to do that. Sorry about that.
This kind of behaviour is mostly seen in menus more than tooltips.

[2017-08-24 21:21] alekbarszczewski commented on #8
@hekigan I found one bug in current behaviour I think:

[code]

If you hover the trigger and then move mouse to a tooltip it's ok. But then if you will move your mouse down in the place below "some text" but above tooltip edge then tooltip will disappear after delay. This bug is more "visible" if you add padding to the tooltip content and place some elements inside tooltip (paragraphs, links, etc)

[2017-08-25 07:17] hekigan commented on #8
You are right. Thank you for pointing that out.
I am going to fix this right now.

[2017-08-27 20:36] hekigan commented on #8
Just an update on the disappearing matter, it should be fixed now!

[2017-08-27 21:16] nicolasvahidzein commented on #9
Hello Laurent, ok so i test your code exactly on a page that has almost no code and it's not working like in your example so indeed the problem is on my end. How do i figure out now what is the problem and what is causing the interference?

[2017-08-27 21:37] hekigan commented on #9
Do you see an error in your browser console?
Did you try to open the codepen, that I wrote for you with a different browser?

If I can not reproduce your problem, I can not solve it.

[2017-08-28 10:33] alekbarszczewski commented on #8
@hekigan On 1.3.2 this issue still remains. Same example, nothing changed and tooltip disappears when you move cursor of of any of its children, but still inside tooltip.

[2017-08-28 14:32] hekigan commented on #8
Okayyyyyyy.   :)

Looks like it was an event propagation issue.
What about version 1.3.3?

[2017-08-28 15:05] alekbarszczewski commented on #8
@hekigan works now :D. Thanks!

[2017-08-28 21:18] nicolasvahidzein commented on #9
i was def able to open it, your code is perfect. The error is in my project but i don't know how to find the problem on my end why it is not working. That is what i am asking. How to find the error on my end and what to look for/pay attention to?

[2017-08-28 22:43] hekigan commented on #9
I will contact you later by mail, and I will see if I can help you with that.

[2017-08-29 05:12] nicolasvahidzein commented on #9
ok, thanks buddy.

[2017-08-30 16:13] aocneanu opened #11 "Problems changing the defaults"
Hello,

I'm not able the change the default configuration.

i tried with the folowing code:

[code]

When I use v-tooltip the placement is left and the color black.

What am I doing wrong?

[2017-09-01 22:13] hekigan commented on #11
You did not do anything wrong and there was a bug.
Thank you for reporting it, that is useful.
It should be fixed now.

[2017-09-01 22:13] #11 closed

[2017-09-05 12:46] Liliandev opened #12 "IE 11 - Tooltip not working"
Bug:

**What is the current behavior?**:
Tooltip is not working.

[Vue warn]: Error in directive tooltip inserted hook: "TypeError: L’objet ne gère pas la propriété ou la méthode « includes »"

[Vue warn]: Error in directive tooltip unbind hook: "TypeError: Impossible d’obtenir la propriété  « destroy » d’une référence null ou non définie"

**Browser Version:
Internet Explorer 11

[2017-09-06 14:49] vcraescu opened #13 "tooltip visibility"
Hi,
I'm not able to hide the tooltip when trigger is hover.

` v-tooltip="{ content: 'test', visible: false }"`

For some reason that only works if i put `v-tooltip.notrigger` otherwise `visible` property is totally ignored and the tooltip is always displayed.
I'm not sure if this is a bug or it is the intended behaviour, but it's quite weird why I should not be able to hide the tooltip on demand.

[2017-09-06 16:26] hekigan commented on #13
Hello,

yes, this is the intended behaviour.
It made mostly sense to me with 'notrigger'.

Can you give me an example of scenario where you would like to hide the tooltip yourself when the user is hovering the trigger source?

[2017-09-06 16:27] hekigan commented on #12
Hi, I had no time to check that out yet, I will try to do that by the end of the week.
If I can reproduce the bug, I will fix it quickly.

[2017-09-07 04:44] vcraescu commented on #13
I have the following scenario:
I have a form and every input field has a tooltip which describes what that field is supposed to contain. When the user submits the form, if the field value is invalid, a small icon will be displayed beside the field which on hover it will display a red tooltip with the error message. So, if the field is invalid, 2 tooltips will be displayed: one over the field and o

[2017-09-07 05:15] Liliandev commented on #12
Hello,

With polyfill (Babel vy example)l, all is working well.
6 septembre 2017 18:27 "Laurent Blanes"  a écrit:
	Hi, I had no time to check that out yet, I will try to do that by the end of the week.
If I can reproduce the bug, I will fix it quickly.

	—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub (https://github.com/hekigan/vue-directi

[2017-09-07 11:48] hekigan commented on #13
Got it!
Thanks for taking the time to explain things.

I will update the script to handle 'visible' in any scenario. I don't see any drawback in doing so.

[2017-09-07 11:50] vcraescu commented on #13
Thanks! :)

[2017-09-07 11:51] hekigan commented on #12
Oh! that is a good information to have.
So some ES6 goodies might be the cause of the problem.
When I investigate, I will try to pinpoint which part is causing the issue.

[2017-09-07 21:28] hekigan commented on #13
It should be done and working now.

Just use the "visibility" property, as you wanted.

[2017-09-08 03:20] vcraescu commented on #13
Thanks! I will try it out today.

[2017-09-08 05:51] vcraescu commented on #13
I doesn't seems to work. :(
I installed v1.3.6 but the old behaviour is still there. `visible` property does not have any effect If there's a trigger.

[2017-09-08 06:42] hekigan commented on #13
It does work for me.

I put out a simple example there:
https://codepen.io/hekigan/pen/OjYmPz

One with `notrigger` and the other with the defaults triggers.
Is that not working for you?

[2017-09-08 07:00] vcraescu commented on #13
https://codepen.io/anon/pen/eEwVyw

It seems it works only after the component is updated. Change the code to `visible: false` and it won't work anymore. If you flip the button, then the property works as intended.

[2017-09-08 07:21] vcraescu opened #14 ""class" property does not seems to be reactive"
Check this:
https://codepen.io/anon/pen/qXzxvq

`class` property does not seems to be updated at all.

[2017-09-08 08:18] hekigan commented on #13
ok ok.
Seems like A little bit more and it will work as intended.
let me double check that

[2017-09-09 18:28] hekigan commented on #13
Please try again with this new release.

[2017-09-09 19:31] hekigan commented on #14
Can you test this new release please?

[2017-09-10 05:16] vcraescu commented on #13
Seems to work in the sample from codepen. I will test it thoroughly tomorrow morning and let it know. Thanks!

[2017-09-10 05:17] vcraescu commented on #14
Thanks!

[2017-09-10 05:17] #14 closed

[2017-09-11 05:15] vcraescu commented on #13
Tested and it works as expected. Thanks!

[2017-09-11 05:15] #13 closed

[2017-09-20 19:59] hekigan commented on #12
Sorry that it took so long, I had been busy.
I did test on IE11+ and I did not have any issues.

[2017-09-21 10:31] #12 closed

[2017-09-26 01:48] Stephen-Gates opened #15 "[feature] Delay to show"
### Feature

To complement [delay to hide](https://hekigan.github.io/vue-directive-tooltip/#delay) add a `delay to show` feature.

This feature would delay the appearance of a tooltip until the cursor had hovered over a element for a period of time.

This would provide help when a user dwells on an element and avoid popping tooltips when I just move my mouse across the screen.

[2017-09-27 13:38] sullyfischer opened #16 "Tooltip closes after hovering target element's child"
This is my usage code:

[code]

Tooltip opens when I hover the `router-link` but closes after my hovering reaches the inside element which is `home-icon`.

Any way to work around this?

Thanks for the great job BTW.

[2017-09-30 11:04] hekigan commented on #16
`home-icon` is a component, right? What does it translate in actual html?
It would help if you could reproduce this with the template from the **new issue**

[2017-09-30 14:15] sullyfischer commented on #16
Yeah, but it doesn't really matter. It could be anything and the issue still persists. I updated the initial reply with a simpler example.

[2017-10-01 05:31] hekigan commented on #16
ok, I will take a look and try to reproduce the issue

[2017-10-02 19:52] tylerbwoodridge opened #17 "Positioning variants and offset do not work together"
#### Behaviour

**Current**: modifier variants for the position (ex. top.end, or top.start) do not work with offset.

**Expected**: I expect a v-tooltip.top.end with offset = 30 to be offset, at least in the major direction (top in this case).

view this code pen to see the issue: https://codepen.io/tylerwoodridge/pen/LzzVaO

**Please mention other relevant information**:

- Browser Version: Chrom

[2017-10-03 15:52] hekigan commented on #17
Thank you for the feedback, I will investigate this

[2017-10-14 14:33] timwis opened #18 "Tooltip resizes the page on mobile"
Hello, I'm having a bit of trouble figuring out what's causing this, but when I try to use the tooltip on an android mobile browser, the tooltip is very wide and causes the page to resize. Any idea how to prevent this? Works great on desktop. You can see it live at https://phillywardleaders.surge.sh

![screenshot_20171014-102500](https://user-images.githubusercontent.com/761444/31576539-0eea0074-b

[2017-10-14 14:48] timwis opened #19 "Popper-utils include requires ESM support"
Including `vue-directive-tooltip` in my project works fine in the browser because webpack can handle ES modules (`export`), but when I run my unit tests (in node) they fail because of `Unexpected token export` on `node_modules/popper.js/dist/popper-utils.js:1002`.

I believe this is because of `vue-directive-tooltip`'s [inclusion of `popper.js/dist/popper-utils`](https://github.com/hekigan/vue-dir

[2017-10-16 13:34] #19 closed

[2017-10-16 13:38] hekigan commented on #18
Hi!

The fix would be to either:
- change the following line:
https://github.com/hekigan/vue-directive-tooltip/blob/master/src/css/index.scss#L8
320px -> 300px
- create an extra media-query rule to do the same thing as above

[2017-10-20 18:24] hekigan commented on #17
FIxed, yay!

Sorry it took that long, I am very busy at the moment. Hope that works for you.

[2017-10-20 18:24] #17 closed

[2017-10-22 15:29] dimensi opened #21 "[feature] add lazy load init tooltip."
### Feature
Hi, can you add lazy initialization tooltip? If I add tooltip on buttons in rows of table. On 20 rows, i get 20 initializations. It's too many. And can you add auto-destroy please like here https://github.com/Akryum/v-tooltip/blob/master/src/v-tooltip.js#L239. Thx in advance.
I lost half fps, because tooltip.js autoupdate positions on scroll.

![vokoscreen-2017-10-22_18-28-56](https://

[2017-10-24 17:12] hekigan commented on #18
Since there is no reply, I suppose that all is good now.
So I am closing this one. If there is anything else please contact me again.

[2017-10-24 17:12] #18 closed

[2017-12-01 07:58] alex3683 opened #23 "[feature] updated content binding value is ignored"
### Feature

Actually, I don't know if this is a bug or a feature request. I must admit that I simply expected this to be working. :-) Now the actual issue:
When binding the tooltip to a value, the tooltip renders with the first value it reads from the binding. Whenever the binding's value changes henceforth, that change is not reflect. The tooltip still shows the initial value of the binding. I m

[2017-12-01 11:44] MadReal opened #24 "iPhone click seen as hover"
Hello, have you noticed the behavior of the tooltip on iPhone? It will prevent the click because on click it will first show the tooltip than you have to click again to actually do the action.

Do I have to configure something specific? Or what would be the best way to disable the tooltips on phone?

Thanks

[2017-12-01 12:21] hekigan commented on #24
I will have to double check that, thank you for your feedback!

[2017-12-01 12:26] hekigan commented on #23
The code to make it work from your example is the following:

`<span v-tooltip="{content: tooltipText}" class="tooltip-origin">tooltip</span>`

But I understand why it could be confusing that the simple way does not work the same way.
I will update that to be able to either soon.

This comment was helpful, since I did not notice that issue, thank you.

[2017-12-01 23:02] traykovn opened #25 "Problem with default placement"
When I'm overriding the default options when installing the plugin, all options are affected, than the 'placement'. I wanted to put default placement 'top', but it's 'auto'. If I put v-directive.top it is working.

Here is the code:

`import Tooltip from 'vue-directive-tooltip'
import 'vue-directive-tooltip/css/index.css'
Vue.use(Tooltip, {
    delay: 100,
    position: 'top'
})`

Here is how I us

[2017-12-01 23:08] traykovn opened #26 "When I try to dinamically set content it is not working"
I have a child component that contains v-tooltip. The parent component changes one of the props of the child component and depending on the value I want to change the text of v-tooltip. Now it can't

Code: `v-tooltip.top="getTooltip()"`

The prop is successfuly changed, so there is no a problem there.

[2017-12-02 06:04] hekigan commented on #26
It sounds the same as #23

[2017-12-02 06:06] hekigan commented on #25
That sounds like a bug to me too.
I will check that out!

[2017-12-02 09:25] traykovn commented on #26
Thank you!

[2017-12-02 09:27] traykovn commented on #25
You are great! Thank you!

[2017-12-02 09:34] traykovn commented on #23
I tried exactly that:

`<span v-tooltip="{content: tooltipText}" class="tooltip-origin">tooltip</span>`

And it didn't work. This was the first thing I thought of, since it is intuitive, but didn't manage to change the value.

[2017-12-02 10:14] traykovn commented on #23
Actually this works:

`<span v-tooltip="{content: tooltipText}" class="tooltip-origin">tooltip</span>`

It wasn't working because of my mistake.

[2017-12-03 06:44] #26 closed

[2017-12-05 20:09] #25 closed

[2017-12-05 20:09] hekigan commented on #23
Done!

[2017-12-05 20:09] #23 closed

[2017-12-07 15:19] hekigan commented on #25
@traykovn
I forgot to tell you, but you also made an error in your code:
X `Vue.use(Tooltip, { delay: 100, position: 'top' })`
O `Vue.use(Tooltip, { delay: 100, placement: 'top' })`

[2017-12-11 14:16] traykovn commented on #25
Thank you and sorry for loosing your time! Glad that everything is ok!

[2017-12-13 07:26] traykovn commented on #25
Actually it is not working that way as well. Is it working when you tried?

[2018-01-17 01:41] diachedelic opened #27 "v-tooltip="val" throws errors when `val === null`"
### Bug

Example: https://codepen.io/anon/pen/LegZBe

#### Behaviour

**Current**:

v-tooltip breaks when its value resolved to null or undefined.

**Expected**:

v-tooltip should wait until value is not null or undefined, then continue with normal behaviour.

**Please mention other relevant information**:

[code]

- Browser Version: Chrome 63.0.3239.132 (Official Build) (64-bit)
- Operating Syste

[2018-01-17 01:53] kennj2016 opened #28 "How to intergrate Referencing an HTML element + Positioning"
How to intergrate Referencing an HTML element + position tooltip

[2018-01-17 04:53] #28 closed

[2018-01-17 09:14] hekigan commented on #27
You are right, that should be a quick fix

[2018-01-29 14:39] Aymkdn commented on #15
I needed the same thing: I wanted the popup to show after a 500ms delay, and disappear immediately.

To do so I changed [line 268](https://github.com/hekigan/vue-directive-tooltip/blob/bef6b524b801ce77b498c138e17edf798a46ccd7/src/directives/tooltip.js#L268) to have :
[code]

[2018-01-29 15:37] Aymkdn opened #29 "[feature] add a "disabled""
Hi,

Would it be possible to add a `disabled` option ? Today there is `visible`, but it's only triggered when we have `notrigger`.

I only want to show the tooltip when my text is too long, and a way to disable the tooltip would be great.

The workaround I use is :
[code]

Thanks

[2018-03-08 10:29] seyfer commented on #24
I have a similar issue maybe. It is easy to test even in the Chrome Ipad simulation.

I have a click event on the parent element and v-tooltip in the child. The problem is, that v-tooltip captures click event and parent click isn't triggered. The event should not be captured.

[2018-03-10 18:36] hekigan commented on #16
Ok, I am extremely late in my reply, but here goes.
What I found is that in a case like this:

[code]

where you have a dynamic Vue element using `v-text` + an extra node (text, image, whatever), somehow when you hover it, it disappears. I am not sure yet of the reason behind it but it's not because you are using icons or anything like it.

I understand that my answer is not ideal, but for the mom

[2018-03-10 19:15] hekigan commented on #24
I have been trying to replicate the behaviour

https://codepen.io/hekigan/pen/ZxYZpa

In the simulator with iPad, on click, I still get the "action" word showing up in the console.
Can you give me a piece of code that would show the problem?

[2018-03-11 14:50] hekigan commented on #27
This fix is in the new version: 1.4.3

[2018-03-11 14:50] #27 closed

[2018-03-11 15:07] hekigan commented on #21
That's a very interesting performance issue.
I did a test with a 1000 rows to see how it goes.
If you just scroll normally, there no performance issue.
BUT if you go straight to top/bottom or use the spacebar, indeed, there is a huge drop in frame rate.

I do not like that and I am going to work on it.

[2018-03-11 16:04] seyfer commented on #24
@hekigan, in your codepen example, move `@click` to the parent element `<p>`. Then you will see the problem. It will not be triggered.

[2018-03-11 18:29] hekigan commented on #24
The only way you would lose the event is if you are using the `manual` or `click` mode.
And I am considering removing the preventDefault in there.

[2018-03-18 17:10] veselj43 commented on #16
I am not sure if it is related to dynamic elements at all. Here is what i have:
[code]

![vue-tooltip](https://user-images.githubusercontent.com/17547023/37568539-be7e3a98-2ad6-11e8-92a3-b2489bbc96c5.png)

Anytime i go from pink area to red area, tooltip disappears. (Version 1.4.2)
It seems to me like it listens to mouse out also for every child, if i add another child element:

![vue-tooltip_2](h

[2018-03-20 07:51] riboher commented on #16
Hi there! Facing the exact same issue. When having this block of code
`<div
    v-tooltip.right="{
      'content': name
    }">
    <font-awesome-icon
      :icon="fontAwesomeIcon"
      class="geo-left-panel__navbar__tab-button-container__icon"
      :title="name"
      fixed-width/>
  </div>`

the tooltip works fine until I hover on the inner icon, then the tooltip dissappears. Thanks!

[2018-03-24 10:37] HonzaMikula commented on #15
This feature would be really great!

[2018-03-24 13:52] hekigan commented on #16
@veselj43 : thank you for your detailed report, that is very helpful!
I am going to take a look at this.

[2018-03-24 15:24] #16 closed

[2018-03-26 09:49] canol opened #30 "New line in a tooltip"
Is there a way to put new line character in a tooltip?

[2018-03-26 10:15] hekigan commented on #30
Yes, just use HTML content with either `<p>` or `<br/>` tag

[2018-03-26 11:07] canol commented on #30
When I put `<br/>`, it just shows `<br/>` as a text, it does not render a new line.

[2018-03-26 15:01] hekigan commented on #30
I would refer you to the documentation:
https://hekigan.github.io/vue-directive-tooltip/#usage

And read the "Referencing an HTML element" bit.
You can not use directly HTML.

[2018-03-26 15:02] #30 closed

[2018-04-05 19:16] victornpb commented on #21
I up that, also why do you have to create an id for every tooltip?

[2018-04-05 19:43] jardicc commented on #21
It makes my UI unusable. It updates css positions on scroll to fast. If I won't be able to find fix then I will replace these tooltips with a different library.

[2018-04-06 13:56] hekigan commented on #21
@victornpb the need for the id for tooltip is for the *html* bit.
Since it can be an independent node, it's the the simplest in terms of performance because it avoid doing a lookup to find it.

@jardicc You are making a good point.
I believe it will be addressed once I finish the original demand. It won't be *lazy loading* per say, but create/destroy on usage. It should be way better in terms of p

[2018-04-11 12:05] victornpb commented on #21
Afaik querying the DOM is more expensive than a object lookup. Anyway you just have to instantiate visible tooltips, then remove them from DOM and any references to it as soon as possible. This will clear the DOM, references and you don’t have to calculate any positioning.

You can have hundreds of tooltips on a page, but you usually will have only a few being active, so it doesn’t make sense to h

[2018-04-24 18:47] jardicc commented on #21
@victornpb Position calculating is still needed because you can hover element and scroll mouse at the same time. So tooltip can be outside of the hovered element if you don't calculate position.

[2018-05-16 12:05] leonardotessaroalves opened #31 "Dynamic tooltip html content"
i think its a bug.

i have some fields there are shown when the user interact over them.
`<div id="tooltip" class="hidden">content to show or hide</div>`
`
<template v-if="mycondition">
<span v-tooltip.html.top="{ html: 'tooltip' }">teste</span>
</template>
<template v-else>
<span v-tooltip.html.top="{ html: 'tooltip' }">teste</span>
</template>
`

but the dom node <div id="tooltip"> should be clo

[2018-06-01 03:48] daverogers opened #32 "Extend Directive"
[code]

So this works great, but I'd like to extend the package to always use those defaults in every instance - our company has a lot of separate apps so we don't use the same instance of Vue. I've extended filters and components before, but I'm not finding anything on extending directives. Is it possible? Or do we just need to have `Vue.use()` on every app?

[2018-07-30 17:57] daverogers opened #34 "Toggle Hover Visibility"
### Bug

When hovering over an element that also toggles the tooltip's visibility on click, the tooltip remains stuck to visible.

Codepen example:
https://codepen.io/daverogers/pen/mjpLoG

Reproduce:
- With visibility "true", hover over button
- Tooltip should show; click the button
- Now visibility is "false" but the tooltip continues to show regardless of hover

[2018-08-31 09:42] appinteractive commented on #15
@hekigan please give us a delay for show!!!

+1

[2018-09-11 07:32] riksnelders commented on #24
Same here. I dont want a tooltip when using ios/safari .
Option to disable tootlip when mobile device is used an idea maybe ??

[2018-09-13 08:58] mburakerman opened #35 "[feature-request] can we set tooltip position on mobile?"
first of all, thanks for awesome plugin.

i want to say that there is no option to set **tooltip's position on mobile**.
_for example_: i set tooltip position right and it automatically set it's position left **on mobile**.
but i want it top.

do you plan to bring a feature like this?

[2018-09-26 06:47] hekigan commented on #35
I don't distinguish between desktop/mobile environment.
**Popper.js** automatically handle the positioning of the tooltip if the size of the window changes and tries to fit the tooltip in as cleanly as possible.

[2018-09-26 06:54] hekigan commented on #32
Hi, I know it's been a while since you asked and I am back from the dead.
To answer you, the directive is nothing else than a javascript Object.
So I don't see why you could not extend it. You could totally use the `config` property to implements your defaults. I never did it, but it should be doable.

[2018-09-26 07:06] hekigan commented on #24
Hi guys!

I took a long break because the family grew bigger  :)

So, I am not sure how many of you have been having trouble with this, but it's not a **bug** per say but a **feature** according to Safari's devs.

It is annoying to go around but at the same time I do understand the reason behind the limitation.
First click is for the **hover** event (either JS or CSS, this is important), the secon

[2018-09-26 17:57] mburakerman commented on #35
i see. but customizing for mobile sounds so good

[2018-09-27 05:55] riksnelders commented on #24
First of all Congrats!

Second, seems like a good fix!
Added a workaround for this issue myself by just disabling it on any ios device. Seems to work for now.

[2018-09-27 07:11] hekigan commented on #24
Ok, fixed and pushed:
https://github.com/hekigan/vue-directive-tooltip/releases/tag/v1.5.0

[2018-09-28 01:31] #32 closed

[2018-09-28 01:31] #35 closed

[2018-10-03 18:28] HugoHeneault opened #36 "Tooltip not hiding instantly"
Hi there! Thanks for your great popperjs integration! 👍

## Bug

### Behaviour

**Current**: There is a small delay when tooltip loose the focus, so some tooltips appears at the same time :(

**Expected**: Tooltip should hide as soon as it loose hovering

https://codepen.io/anon/pen/wYGvee

**Please mention other relevant information**:

Here is a capture from the behavior:
![kapture 2018-10-03 at

[2018-10-03 18:31] HugoHeneault commented on #36
Closing as I didn't use the delay option properly 😂

[2018-10-03 18:31] #36 closed

[2018-10-09 11:07] diachedelic commented on #34
Seems to only occur in v1.5.0, I have pinned my version of `vue-directive-tooltip` to v1.4.5 to avoid this bug. In my case, every tooltip is by default visible (in Chrome on Android or MacOS) and cannot be hidden!

[2018-10-11 01:16] hekigan commented on #34
I am going to double check that asap

[2018-10-19 22:51] victornpb commented on #21
@jardicc yes but you don't need to update invisible tooltips on scroll. I would not even mount them on the DOM since the more elements you have the slower css computations are in general.

When a tooltip is fired, append it to dom and update only mounted elements, when a tooltip is hidden, remove it from the three, and you don't have to calculate or update its position.

[2018-12-30 17:50] diyiot opened #38 "strange behavior with v-tooltip.notrigger="{ html: 'imagesInfo' }"
### Bug
         <vuetable .
                (1000 rows)

        <div class="custom-actions" slot="actions" slot-scope="props">
          <button v-tooltip.notrigger="{ content: playbookInfo, visible: visibility[props.rowData._id] }"
            class="ti-more btn btn-outline-secondary btn-sm"
            round
            @click="onAction('view-item', props.rowData, props.rowIndex)" ></button>

[2019-02-06 07:40] Hidejec commented on #31
Please have a look into this.

I also encountered this bug wherein I have a dynamic component with v-if to only render in a specified condition. But the v-tooltip-directive moved the original node and appended it to the wrapper tooltip element as the content, now the original HTML element doesn't get re-rendered, therefore broke the tooltip element since it don't have any html element to reference

[2019-02-28 23:43] mikefdesign commented on #34
From my experience in using v1.5.0 you can add this class to make it "work" again

`.vue-tooltip-hidden {
      transform: translateX(-100000px) !important;
    }`

[2019-03-15 17:47] gbdematos commented on #15
+1
It would be very helpful. @hekigan

[2019-03-16 11:54] gbdematos opened #40 "Animation?"
Hi,

Is there a possibility to add animation/transition effects?

Thanks!

[2019-03-19 15:40] hekigan commented on #21
@jardicc
It's been quite a while, but I pushed a new version -v1.5.1- which addresses the performance issue.
I can have now more than a thousand tooltips set and there is no drop in performance.

I will not close yet this thread because I did not do the lazy loading part yet.

[2019-06-03 12:04] Scrum commented on #40
@gbdematos managed to find a solution?

[2019-06-03 12:07] gbdematos commented on #40
@Scrum unfortunately no, I switched to tippy.js

[2019-06-03 12:15] Scrum commented on #40
@gbdematos Thank you, great lib !!!

[2019-06-17 12:45] Quenway opened #42 "Tooltip always visible in 1.5"
### Bug

When submitting a bug, please use the template below to reproduce the bug on Codepen.
Bug with no example on Codepen will be most likely get closed.

#### Behaviour

**Current**: Tooltip always visible

**Expected**: Tooltip visible only on hover/focus

**Please, provide the steps and use the template from the link below to reproduce the bug**:

I did nothing else than update from 1.4.5 i

[2019-06-18 07:07] hekigan commented on #42
Hi,

could you check that your situation is not the same as this:
https://github.com/hekigan/vue-directive-tooltip/issues/34

[2019-06-21 07:46] hekigan commented on #29
Hi, I am really late to answer, but no, the `visible` option is not only available to the `notrigger`.
It's possible to also use in the normal version.

[code]

[2019-06-21 07:46] #29 closed

[2019-06-21 07:57] hekigan commented on #38
It took a while for me to go back to the project as I was fairly busy.
The problem lies with the way I handled the HTML div, basically the shadowDOM was lost at some point, so no reactive data.

A new version is coming out soon with this problem fixed + a way to use the more native `ref` from Vue.
[code]
vs
[code]

Just to be clear, both ways will be supported for the moment but in the long run `h

[2019-06-28 10:00] #34 closed

[2019-06-28 10:05] #21 closed

[2019-06-28 10:06] hekigan commented on #38
New version out, it should fix your problem

[2019-06-28 10:06] #38 closed

[2019-06-28 10:07] #42 closed

[2019-06-28 10:09] hekigan commented on #40
With the new version out, I am thinking of adding example in the documentation soon.
It's already possible just using CSS and the `class` property of `v-tooltip`.

Just write a fade animation or whatever you want and just add the class option.

[2019-06-28 11:29] gadelkareem commented on #40
I saw the fadein class in the code but not sure how to use it?

[2019-06-28 12:47] hekigan commented on #40
@gadelkareem Well, it's not part of the examples, but of the documentation.  :)
You can see it working on the top of the page (header) of the documentation site.

The exact line to see it's implementation which use the CSS you talked about:
https://github.com/hekigan/vue-directive-tooltip/blob/40f2f77246b48ecfb1dad7a6735a9779c07d3730/site/src/App.vue#L10

[2019-06-28 12:55] Chris-Pratt-Clystnet opened #44 "NPM update of package failing on post install script after update from 1.5.1 to 1.6.0"
I have tried to update via npm from v1.5.1 to v1.6.0 and I am now getting the following error during npm update/install

2461 verbose stack Exit status 1
2461 verbose stack     at EventEmitter.<anonymous> (C:\Users\chris\AppData\Roaming\npm\node_modules\npm\node_modules\npm-lifecycle\index.js:301:16)
2461 verbose stack     at EventEmitter.emit (events.js:189:13)
2461 verbose stack     at ChildProc

[2019-06-28 12:59] hekigan commented on #44
Did you try turning it on and off?

Joke aside, it's nearly the same, did you try removing the `node_modules` folder?
A lot have changed, including the dependencies, so it's better to clean up before update and do another `npm install`.

If that does not work, double check your `node` / `npm` versions.

[2019-06-28 13:06] Chris-Pratt-Clystnet commented on #44
@hekigan Thanks for the update on this and yes using windows due to my Homestead vagrant box being a funny bastard when i try to run npm updates on it, GG.

[2019-06-28 13:22] hekigan commented on #44
Well, I am sure that you are not the only one who is going to run into it, so I will try to fix that asap

[2019-06-28 15:01] glutaminefree commented on #44
Fedora 28 x86_64 - Same problem

[2019-06-29 03:35] ClaudioEyzaguirre commented on #44
Same problem in Ubuntu 18.04

[2019-06-29 11:52] hekigan commented on #44
So I think the problem is fixed

Could someone try this branch:
https://github.com/hekigan/vue-directive-tooltip/tree/dev/fix-build

The only annoying thing about the build is the need to install the below dependency globally:
`sudo npm install -g @vue/cli-service-global`

But then again, it's only needed it you are going to compile the lib, not just use it from **npm**.

[2019-06-30 03:48] hekigan commented on #44
A new version 1.6.1 has been published.
It was tested on Windows and Mac with no problem, I suppose that Linux won't be an issue too since I moved from bash to Node files.

If there is another problem, feel free to re-open the issue.

[2019-06-30 03:48] #44 closed

[2019-06-30 08:33] lefuturiste commented on #44
On linux, I still get the error

[2019-06-30 08:37] lefuturiste commented on #44
Here is the log I got when i try to install the 1.6.1 version of your package on x86_64 Linux

[code]

[2019-06-30 08:37] lefuturiste commented on #44
and also, why this not usefull postinstall script??

[2019-06-30 09:14] hekigan commented on #44
@lefuturiste This strange.
The message says that it can not find the `site` folder.
Can you check that the folder is present in your `/mnt/data/workspace/tmp_vue` folder?

the postinstall script is there to install the needed node modules for the documentation site.
This site is also used to do some tests. When in `dev` mode an extra menu item is shown and help during development.

[2019-06-30 13:11] hekigan commented on #44
@lefuturiste fixed, tested and published

[2019-07-01 07:27] hekigan commented on #31
@leonardotessaroalves
Hi, sorry to be so late to reply.
A new version is out and it also addresses your problem.

first of all i'd like to point out a few mistakes:

- in your example, you are writing: ` v-tooltip.html.top` => ` v-tooltip.top`
The `.html` option does not exist.
- You could have used the `visible` argument to switch the visibility of the tooltip `<span v-tooltip.html.top="{ html: '

[2019-07-01 07:27] #31 closed

[2019-07-25 15:06] mikebronner opened #45 "Rendering issue with multi-column CSS"
### Bug
#### Behaviour
When using the tooltip in conjunction with multi-column CSS, the tooltip breaks with the columns, instead of rendering above them.

https://codepen.io/hekigan/pen/BdjJxo

(I was unable to get the tooltips to show using the provided code-pen, but you should get the idea from the code for reproduction.)

The relevant CSS is:
[code]

- Browser Version: Safari 13.0
- Operating S

[2019-07-31 16:34] benjaminroy opened #46 "Still not working on IE11"
Object doesn't support property or method 'replace' on Internet Explorer 11.

[2019-08-03 15:09] paulm17 opened #47 "Placement option outside of attribute"
Of the multiple tooltips found on vue awesome, this was the best one to fit my needs.

One slight issue... instead of this:

    <span v-tooltip.bottom="'bottom'">bottom tooltip</span>

Can a position option be added?

    <span v-tooltip="{content:'bottom tooltip', position: 'bottom'}">bottom tooltip</span>

This way, I can dynamically set the position from a computed property.

Many Thanks!

[2019-08-04 07:29] paulm17 commented on #47
I decided to bring this tooltip into my codebase so I could amend it.

    function getPlacement ({value}) {
        let head = 'bottom';
        let tail = null;

        if (value.position) {
            if (POSITIONS.includes(value.position)) {
                head = value.position;
            }
        }

        if (value.sub_position) {
            if (SUB_POSITIONS.includes(value.sub_posit

[2019-08-22 16:46] rriopel432 commented on #46
See the same thing.  Been trying to find a polyfill for that method since it's implemented almost everywhere but IE.  Seems like the other DOMTokenList polyfills don't implement that method though.

[2019-09-25 18:30] blairdow commented on #47
please do a PR for this, i'd like this functionality too

[2019-10-02 08:15] unikitty37 opened #48 "Documentation site is not scrollable in macOS Safari 12"
#### Behaviour

**Current**:

The documentation at https://hekigan.github.io/vue-directive-tooltip cannot be scrolled in Safari on macOS — the page just bounces as if there were no more content. No error messages are logged to console.

**Expected**:

Scrolling works normally.

**Please mention other relevant information**:

- Browser Version: Safari 12.1.2
- Operating System: Mac OS X 10.14.6 (18

[2020-01-28 09:53] jerome313 opened #50 "The tooltip doesn't close on clicking outside when the Click trigger is applied."
### Bug

#### Behaviour

**Current**:
The tooltip popup should close when we click anywhere outside, according to the docs
https://hekigan.github.io/vue-directive-tooltip/#/events
However, this is not the case, even on the examples given on the documentation itself.
This behavior can be seen on vue-directive-tooltip versions after 1.5.1

**Expected**:
When using the Click trigger the tooltip shoul

[2020-03-11 09:55] Seb-C commented on #48
Same on firefox for mac. Removing the header makes the page usable.

[2020-04-20 03:54] MuhammadFakhrurrozi opened #51 "Tooltip with HTML Content"
[ASK]
Excuse me, how to make some tooltip with content by html tag using vue-directive-tooltip?
Thank a lot of your attention

[2020-04-20 04:20] #51 closed, assigned to nobody

[2020-06-04 06:23] pallavi591 opened #52 "Bullets are not visible in tooltip (including examples in documentation)"
### Feature

In case of feature request, please add **"[feature]"** in the title
eg: `[feature] would like to add this great idea`

### Bug

When submitting a bug, please use the template below to reproduce the bug on Codepen.
Bug with no example on Codepen will be most likely get closed.

#### Behaviour

**Current**:

**Expected**:

**Please, provide the steps and use the template from the link b

[2020-06-04 18:23] pallavi591 opened #53 "The web page of documentation website is being cropped."
<img width="1792" alt="Screenshot 2020-06-04 at 11 52 32 PM" src="https://user-images.githubusercontent.com/8307267/83796368-898df380-a6be-11ea-898d-8d923e42b217.png">
### Feature

In case of feature request, please add **"[feature]"** in the title
eg: `[feature] would like to add this great idea`

### Bug

When submitting a bug, please use the template below to reproduce the bug on Codepen.
Bug w

[2020-07-15 14:54] kaipaysen opened #55 "[feature] Autoclose Tooltip on click trigger"
When using the tooltip with the `click` trigger, the tooltip won't disappear after `delay` millis. This is a [documented](https://hekigan.github.io/vue-directive-tooltip/#/events) behaviour. I'd like to have an option to activate the autoclosing of the tooltip for the click event.

[2020-12-13 16:33] acrossoffwest opened #64 "[feature] Vue 3 support?"
Will you support Vue 3?

[2021-03-05 16:16] xaddict opened #65 "[feature] Popper 2.9.0"
### Feature

I would like to request an update to Popper 2.9.0 as it is more streamlined and has more options

[2021-03-05 16:19] xaddict commented on #46
@benjaminroy @rriopel432 Use Babel in Webpack or add polyfill.io to your <head> to automatically fix this only in the browsers that need it if you are not using a build tool.

[2021-04-22 00:15] borovez commented on #64
You can easily convert it to Vue 3.

All you need to do is edit the tooltip directive script and rename the directive lifecycle function names based on the new directive lifecycle standards from upgrading from Vue 2 to Vue 3

The new API is as follows:

[code]

Read more here: [https://v3.vuejs.org/guide/migration/custom-directives.html#_3-x-syntax](url)

[2022-06-23 10:58] #47 closed